.App {
  /* border: 1px solid green; */
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
  background: #f8f9fa;
  min-height: 100%;

}

@media screen and (min-height: 1002px){
  .App{
    border: 1px solid #46494c;
  }
}


@media screen and (min-width: 1401px){
  .App{
    border: 1px solid #46494c;
  }
}