.divFooter{
    background: #040404;
    /* border: 1px solid red; */
    max-width: 1400px;
    width: 100%;
    padding: 3px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Itim';
    bottom: 100%;
    top: unset;
    box-sizing: border-box;
}

.divHenry{
    /* border: 1px solid white; */
    width: 35px;
    justify-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}


.divHenry a img{
    width: 35px;
}

.divAutor{
    /* border: 1px solid white; */
    color: #d7d9ce;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divAutor h4{
    margin: 0;
}

.divRedes{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 25px;
}

.divRedes img{
    width: 35px;
}

@media screen and (max-width: 800px){
   .divHenry{
    width: 25px;
   } 

   .divHenry a img{
    width: 25px;
   }

   .divAutor{
    height: auto;
    font-size: 12px
   }

   .divRedes img{
    width: 25px;
   }
}

@media screen and (max-width: 480px){
    .divAutor{
        height: auto;
        font-size: 10px
       } 

       .divRedes{
        gap: 10px;
        margin-right: 10px;
       }

       .divHenry{
        margin-left: 10px;
       }
}


