.divLanding {
    /* border: 1px solid red; */
    width:100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Itim';
    
}

.divLogo {
    /* border: 1px solid black; */
    width: 48%;
    margin: 50px auto;
    padding: 10px 10px;
    background: #001D3D;
    border: 1px solid #001D3D;
    border-radius: 20px;
    box-shadow: 2px 5px 10px #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.divLogo div{
    /* border: 1px solid black; */
    width: 300px;
    margin-right: -20px;
}

.divLogo div img{
    width: 100%;
    
}

.divLogo h1{
    /* border: 1px solid black; */
    font-size: 60px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
}


.divButton{
    /* border: 1px solid black; */
    margin-bottom: 13px;
}

.botonIngresar{
    width: 200px;
    font-family: 'Itim';
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    background: #d7d9ce;
    border: 2px solid #040404;
    border-radius: 5px;
    transition: all .1s ease;
    color: #040404;
}

.botonIngresar:hover {
    background: #040404;
    color: #d7d9ce;
}

.slider{
    width: 100%;
    max-width: 1400px;
    height: auto;
    /* margin: auto; */
    overflow: hidden;
}

.slideTrack{
    display: flex;
    align-items: center;
    animation: scroll 20s linear infinite;
    -webkit-animation: scrollLeft 20s linear infinite;
    width: calc(135px * 20);
}

.slide{
    width: 135px;
    /* margin-right: 10px; */
    padding: 5px;
}

.slide img{
    width: 100%;
}

.first_slider{
    /* border: 1px solid green; */
    position: absolute;
    margin-top: 5px;
    top: 0;
    bottom: unset;
}

.second_slider{
    /* border: 1px solid green; */
    position: absolute;
    margin-bottom: 5px;
    top: unset;
    bottom: 0;
}

@keyframes scrollLeft {
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }    

    100%{
        -webkit-transform: translateX(calc(-135px * 10));
        transform: translateX(calc(-135px * 10));
    }
}

@media screen and (max-width: 1294px){
    .divLogo{
        width: 55%;
    }

    .divLogo h1{
        font-size: 45px;
    }

    .divLogo div{
        margin-right: -40px;
    }
}

@media screen and (max-width: 800px){
    .divLogo{
        width: 60vw;
        margin-bottom: 30px;
        flex-direction: column;
    }

    .divLogo h1{
        font-size: 50px;
    }

    .divLogo div{
        width: 70%;
        margin-right: unset;
    }

    .slideTrack{
        width: calc(115px * 20);
    }
    
    .slide{
        width: 115px;
        /* margin-right: 10px; */
        padding: 5px;
    }


    @keyframes scrollLeft {
        0%{
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }    
    
        100%{
            -webkit-transform: translateX(calc(-115px * 10));
            transform: translateX(calc(-115px * 10));
        }
    }
}

@media screen and (max-width: 480px){
    .divLogo {
        width: 90%;
        margin: 30px auto;
        padding:10px 3px;
        flex-wrap: wrap;
    }

    .divLogo h1{
        font-size: 40px;
    }

    .divLogo div{
        width: 80%;
    }
}

